<div class="container">
    <div class="entrance">
        <h1>キャラクター図鑑へようこそ</h1>
        <h6>作成したキャラクターを図鑑形式にして表示するWebアプリです</h6>
        <p>
          <%= link_to("新規登録","/users/signin_form") %>
          <%= link_to("ログイン","/users/login_form") %>
        </p>
    </div>
</div>
